[submodule "youjia-app"]
	path = youjia-app
	url = https://coding.net/banxi/youjia_app.git
[submodule "UmengSDK"]
	path = UmengSDK
	url = https://github.com/banxi1988/UmengSDK.git
[submodule "WeiboSDK"]
	path = WeiboSDK
	url = https://github.com/banxi1988/WeiboSDK.git
[submodule "android-ex"]
	path = android-ex
	url = https://coding.net/banxi/android-ex.git
[submodule "timetable"]
	path = timetable
	url = https://coding.net/banxi/timetable.git
